.main {
    text-align: center;
}

.inp::-webkit-outer-spin-button, .inp::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.box {
    margin-left: 13.5%;
    width: 70%;
    height: 100%;
}